@model CampusSnapshots.ViewModels.PostIndexViewModel


<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted pull-left">
            @Model.PageTitle
            <span class="badge">@Model.Posts.Count()</span>
        </h2>
    </div>
</div>

<div class="container body-content">
    <div class="post-content">
        @foreach (var post in Model.Posts)
        {
            <div class="post-image-container">
                <a asp-controller="Post" asp-action="Detail" asp-route-id="@post.Id">
                    <div class="post-image" style="background-image: url(@post.Url)"></div>
                </a>
            </div>
        }
    </div>
</div>


